.Navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50vw;
    font-size: 56px;
    font-family: myFirstFont;
}

@font-face {
    font-family: myFirstFont;
    src: url(../isabela-zvpvx.otf);
  }