.TextArea {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #ff9966;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #f0a147, #eed3b0);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #f0a147, #eed3b0);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.MiddleTextArea {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.MiddleTextArea a {
  text-decoration: none;
  color: inherit;
}

.MiddleTextArea a:hover {
  font-weight: bold;
}

@font-face {
  font-family: myFirstFont;
  src: url(../isabela-zvpvx.otf);
}