.TextArea{
  order: 0;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(240,202,164);
    background: linear-gradient( rgb(241, 192, 142) 0%, rgb(236, 147, 58) 100%);
  }

  .HeaderTextArea{
    display: flex;
    width: 80%;
    justify-content: space-between;
    font-size: 26px;
  }